.about {
  text-align: center;
  margin-top: 4rem;
  display: inline-block;
  padding-bottom: 2rem;
}

.about-container {
  width: 75%;
  margin: auto;
  text-align: left;
}


.avatar {
  width: 50%;
  text-align: center;
  margin-top: 3rem;
  border-radius: 50%;

}

@media(min-width: 683px) {

  .about {
    padding: 4rem 0rem;
    margin-top: 0rem;
  }

  .about-container {
    vertical-align: middle;
    display: inline-block;
    margin-right: 2rem;
    width: 50%;
  }

  .avatar {
    vertical-align: middle;
    width: 30%;
    margin: 0rem;


  }
}

@media(min-width: 850px) {
  .avatar{
    width: 25%;
  }

}

@media(min-width: 1000px) {
  .avatar {
    width: 15%;
  }
}
