.projects-container {
  margin-bottom: 1rem;
  padding-top: 2rem;
  background: white;
}

.project-container {
  height: 35rem;
  text-align: center;
  padding-bottom: 2rem;
  margin: 3rem auto;
  width: 85%;
  border-bottom: 2px groove lightgray;
    .four {
      border: none;
    }
}

.project-heading {
  margin-top: 2rem;

}

.project-link {
  font-size: 3rem;
  color: #233237;
  text-decoration: none;
}

.project-link:visited {
  color: #233237;
}
.project-images-container {
  margin: 1rem 0rem;
  text-align: center;
}

.arrow-div {
  display: inline-block;
}

.prev-div {
  margin-right: 1rem;
  &:hover {
    cursor: pointer;
  }
}

.next-div {
    margin-left: 1rem;
    &:hover {
      cursor: pointer;
    }
  }

.project-image {
  display: inline-block;
  height: 13rem;
  width: 78%;
  vertical-align: middle;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.one .project-image {
    border: 1px solid lightgray;
}

.slider-container {
  padding: 0;
  margin: 0;
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  list-style-type: none;
}

.slider-button {
  display:inline-block;
  margin: 0rem .5rem;
  height: 1rem;
  width: 1rem;
  background: white;
  border: 2px solid #233237;
  border-radius: 50%;
   &:hover {
     cursor: pointer;
   }
}

#current-image {
  background: #984B43;
}

.project-caption-container {
  margin-top: 2rem;
}

.project-caption {
  margin: auto;
  width: 85%;
  font-size: 1rem;
}

.portfolio-links-container {
    margin: 1rem 0;
}

.portfolio-links {
  display: inline-block;
  margin-right: 1rem;
    a {
  display: inline-block;
    color: #233237;
  }
}


.portfolio-links a:visited {
    color: #233237;
}

@media(min-width: 683px) {
  .project-image {
    width: 50%;
  }

  .project-heading {
    margin: 4rem 0rem;
      .project-link {
    font-size: 5rem;
  }

  .project-container {
    margin-bottom: 7rem;
  }
}
  .project-caption {
    font-size: 1.5rem;
  }
}

@media(min-width:850px) {
  .project-heading {
    margin: 6rem;
  }

  .one, .three {
    margin-top: 4rem;
    .project-visual-container {
      float:right;
      position: relative;
      bottom: 1rem;
    }
  }

  .two, .four {
    margin-top: 4rem;
  }
  .project-visual-container {
    display:inline-block;
    width: 50%;
    vertical-align: middle;
  }

  .project-image {
    width: 67%;
  }
  .project-caption-container {
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 1rem;
    width: 50%;
    display: inline-block;
  }
  .project-caption {
    margin-top: 2rem;
  }

  .slider-button {
    height: .5rem;
    width: .5rem;
  }

}

@media(min-width: 950px) {
  .one, .three {
    .project-visual-container {
      bottom: 1rem;
    }
  }

  .project-caption {
    font-size: 2rem;
  }
}

@media(min-width: 1100px) {
  .project-image {
    height: 19rem;
    width: 79%;
  }

  .one, .three {
    margin: 5rem 0 2.5rem 0;
    .project-visual-container {
      bottom: 1rem;
    }
    .project-caption-container {
      margin-top: 3rem;
    }
  }
}
