.projects-container {
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 2rem;
}

.project-heading {
  margin-top: 2rem;
}

.project-link {
  color: black;
  text-decoration: none;
}

.project-link:visited {
  color: black;
}
.project-images-container {
  margin: 1rem 0rem;
  text-align: center;
}

.arrow-div {
  display: inline-block;
}

.prev-div {
  margin-right: 1rem;
  &:hover {
    cursor: pointer;
  }
}

.next-div {
    margin-left: 1rem;
    &:hover {
      cursor: pointer;
    }
  }

.project-image {
  display: inline-block;
  height: 13rem;
  width: 78%;
  vertical-align: middle;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider-container {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  list-style-type: none;
}

.slider-button {
  height: 1rem;
  width: 1rem;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
   &:hover {
     cursor: pointer;
   }
}

#current-image {
  background: red;
}

.project-caption-container {
  margin-top: 2rem;
}

.project-caption {
  margin: auto;
  width: 85%;
}

.portfolio-links-container {
    margin: 1rem 0;
}

.portfolio-links {
  display: inline-block;
}
