.contact {
  margin-top: 6rem;
    h3 {
        text-align: center;
        margin: 2rem 0;
    }
}

.contact-form {
    text-align: center;
}

.left-contact {
    margin: auto;
    width: 85%;
    text-align: center;


    input {
        display: inline-block;
        width: 85%;
        height: 2rem;
        font-size: 1rem;
        margin: 0.5rem 0;
    }
}

.right-contact {
    width: 85%;
    text-align: center;
    margin: 1rem auto;

    textarea {
        display: inline-block;
        height: 15rem;
        width: 85%;
        font-size: 1rem;
    }
}

@media(min-width: 683px){
  .contact-form {
    margin: auto;
    width: 75%;
  }
}

@media(min-width: 850px) {
  .contact-form {
    width: 100%;
  }
  .left-contact {
    width: 50%;
    display: inline-block;
    vertical-align: top;
      input {
        height: 3rem;
        margin: 0 0 1rem;
      }
  }
  .right-contact {
    margin: 0rem;
    width: 50%;
    display: inline-block;
      textarea {
        height: 12rem;
        width: 95%;
      }
  }
}

@media(min-width: 1000px) {
  .contact-form {
    width: 90%;
  }
}
