.recent-hero {
  text-align: center;
  height: 25rem;
  background-color: black;
  background-image: url('../../assets/images/hero1.jpg');
  opacity: .5;
  background-size: cover;
  background-position: center center;
}
