.portfolio-page {
  background: #F6F6F6;
  padding: 2rem 0;
}

.recent-works-heading {
  margin: 0;
  padding-top: 1rem;
  font-size: 3rem;
  text-align: center;
  background: #F6F6F6;
  color: red;
}

.portfolio-preview {
  height: 19em;
  width: 30em;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 1em;
  &:hover {
    transition: .5s;
    cursor: pointer;
  }
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  height: 0px;
  // width: 81.5%;
  border-top: none;
  p, ul {
    opacity: 0;
  }
}

.icons-container {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    width: 100%;
  }
}

.preview-footer {
  transition: height .5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: none;
  height: 100%;
  // width: 100%;
  &:hover {
    .footer-content {
      transition: .5s;
      height: 90px;
      width: 100%;
      p, ul {
        transition-delay: .2s;
        opacity: 1;
      }
    }
  }

}

p {
  margin: 0;
  width: 65%;
  color: green;
  font-size: 12px;
}

.portfolio-icon, .app-label {
  margin: 0 5px;
  color: green;
  &:hover {
    cursor: pointer;
  }
}

.portfolio-sides {
  margin: 0;
  padding: 0;
}

.portfolio-side-item {
  list-style-type: none;
}

@media(min-width: 630px) {
  .portfolio-preview {
    height: 23em;
    width: 38em;
    margin-bottom: 3em;
  }
  p {
    font-size: 1em;
  }
}
@media(min-width: 800px) {
  .portfolio-preview {
    height: 29em;
    width: 48em;
    margin-bottom: 3em;
    background-size: cover;
  }
}


@media(min-width: 1100px) {
  .portfolio-page {
    padding: 2em 0;
  }

  .portfolio-sides {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .portfolio-side-item {
    height: 22em;
    width: 47%;
    margin: 1em;
    background-size: cover;
  }

  .beat-the-bands-preview {
    margin-bottom: 2em;
  }

  .preview-footer {
    width: 100%;
  }
}

@media(min-width: 1300px) {
  .portfolio-side-item {
    height: 25em;
    margin: 1em;
    background-size: cover;
    background-position: center center;
  }
}
