@font-face {
  font-family: 'oranienbaum';
  src:
    local('oranienbaum'),
    url('../assets/fonts/Oranienbaum.ttf')
    format('truetype');
}

@font-face {
  font-family: 'alieron';
  src:
    local('alieron'),
    url('../assets/fonts/Alieron.otf')
    format('truetype');
}
